
@model ProjectType
<body class="login logo-bg">
    <div class="logo">
        <a href="">
            <img src="~/Content/images/@(Model.GetEnumDesc("logo")).png" />
        </a>
    </div>

    <div class="menu-toggler sidebar-toggler">
    </div>
    <div class="content">
        <div class="login-form">
            <h3 class="form-title">欢迎登录账户</h3>

            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">用户名</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="请输入用户名" id="LoginId" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">密码</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input type="hidden" name="Type" value="@((int)Model)" data-defaultvalue="@((int)Model)" />
                    <input class="form-control placeholder-no-fix" type="password" id="Password" placeholder="请输入密码"/>
                </div>
            </div>

            <div class="form-actions">
                <div class="checkbox">
                    <input type="checkbox" id="ckRemember" class="" data-valuetype="bool">
                    <label for="ckRemember">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        记住我？
                    </label>
                </div>

                <button id="btnLogin" class="btn btn-primary pull-right">
                    登录 <i class="fa fa-arrow-right"></i>
                </button>
            </div>

        </div>
    </div>
    <script>
        $(function () {
            var root = '@WebHelper.GetRootUrl()';
            $.setSailConfig({
                Root: root,
                ApiRoot: root + "Api/"
            });

            $(".login-form").InitLogin("admin", "@(WebHelper.GetRootUrl())@(Model.GetEnumDesc("Path"))/system/");
        })
    </script>
</body>