<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-3">旧密码：</label>
        <div class="col-sm-6">
            <input type="password" id="OldPwd" class="form-control validate[required]" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">新密码：</label>
        <div class="col-sm-6">
            <input type="password" id="NewPwd" class="form-control validate[required]" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">重复密码：</label>
        <div class="col-sm-6">
            <input type="password" id="RptPwd" class="form-control validate[required,confirm[NewPwd]]" />
        </div>
    </div>
</div>