

<div class="tables-info">
    共<span class="DateTables_number">
        {{>PageCount}}
    </span>	页&nbsp;&nbsp;&nbsp;每页
    <span class="DateTables_number">
        {{>PageSize}}
    </span>
    条记录&nbsp;&nbsp;&nbsp;共
    <span class="DateTables_number">
        {{>Count}}
    </span>
    条记录
</div>
<ul class="pagination pagination-sm">

    {{for Pages}}
    {{if isSelect}}
    <li class="page-item active ">
        <a class="page-link" page="{{>index}}">{{>title}}</a>
    </li>

    {{else}}
    <li class="page-item ">
        <a class="onPage page-link" data-page="{{>index}}">{{>title}}</a>
    </li>
    {{/if}}
    {{/for}}
</ul>

