<div class="zqui-panel-card">
    <p>
        <img src="/Content/images/pic.jpg">
    </p>

    <p>
        <b>事迹：</b>陈礼云说，抢险队伍已经连续工作一周，朱同宝一直在第一线，带领群众排涝抢险。中心河段近日水位不断上涨，险情危及，朱同宝是在６日巡视了河堤一整夜后，７日早上６点多继续投入加固河堤的工作，过度劳累导致坠河。
    </p>
    <p>
        <img src="/Content/images/pic.jpg">
    </p>

    <p>
        <b>事迹：</b>陈礼云说，抢险队伍已经连续工作一周，朱同宝一直在第一线，带领群众排涝抢险。中心河段近日水位不断上涨，险情危及，朱同宝是在６日巡视了河堤一整夜后，７日早上６点多继续投入加固河堤的工作，过度劳累导致坠河。
    </p>
    <div class="zqui-info">
        <p class="zqui-h6">发布时间<span class="zqui-rt">2015-05-16</span></p>
        <p class="zqui-h6">所属县区<span class="zqui-rt">芜湖县</span></p>
        <p class="zqui-h6">基层党组织<span class="zqui-rt">芜湖市区当委员会</span></p>
        <p class="zqui-h6">党员姓名<span class="zqui-rt">张三</span></p>
        <p class="zqui-h6">推荐人<span class="zqui-rt">张三</span></p>
    </div>      
</div>