<div class="zqui-msg">
    <div class="zqui-icon-area zqui-primary">
        <i class="icon icon-ok-sign"></i>
    </div>
    <div class="zqui-text-area">
        <h2 class="zqui-msg-title">推荐成功！</h2>
        <p class="zqui-msg-desc">系统管理员会对您推荐的事迹进行审核，审核通过后即可展示。</p>
    </div>
    <div class="zqui-opr-area">
        <p class="zqui-btn-area">
            <a href="~/html/index.cshtml" class="zqui-btn zqui-btn-block">返回首页</a>
            @*<button type="button" class="zqui-btn zqui-btn-primary zqui-btn-block">确定</button>*@
        </p>
    </div>

</div>