<nav class="zqui-bar zqui-bar-tab">
    <a class="zqui-tab-item zqui-active" href="~/html/index.cshtml">
        <i class="icon icon-home">
        </i>
        <span class="zqui-tab-label">活动首页</span>
    </a>

    <a href="~/html/ranking.cshtml" class="zqui-tab-item">
        <i class="icon icon-paixing">
        </i>
        <span class="zqui-tab-label">先锋排行</span>
    </a>
    <a href="~/html/recommend.cshtml" class="zqui-tab-item">
        <i class="icon icon-tuijian">
        </i>
        <span class="zqui-tab-label">我要推荐</span>
    </a>
    @*<a href="~/Wechat/personal-center.cshtml" class="zqui-tab-item">
        <i class="icon icon-gerenzhongxin"></i>
        <span class="zqui-tab-label">个人中心</span>
    </a>*@
</nav>