<header class="zqui-bar zqui-bar-nav banner">
    @*<a id="" class="zqui-action-back zqui-pull-left" href="">
        <i class="icon icon-angle-left"></i>
    </a>
    <h1 class="zqui-title">发现身边好党员</h1>
    <a href="~/Wechat/indexed-list.cshtml" class="zqui-action-back zqui-btn-link  zqui-pull-right">
        芜湖市区
    </a>*@
</header>
