 
<div class="back_welcome">
</div>  
@*<div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="fa fa-group"></i>
                <span class="caption-subject bold uppercase">操作步骤</span>
            </div>
        </div>
        <div class="portlet-body">

            <div class="mt-element-step">
                <div class="row step-line">
                    <div class="col-md-3 mt-step-col first done">
                        <div class="mt-step-number bg-white">1</div>
                        <div class="mt-step-title uppercase font-grey-cascade">登录、注册、忘记密码</div>
                        <div class="mt-step-content font-grey-cascade">
                            <ol>
                                <li>输入账户密码登录、输入手机号获取短信密码注册、输入手机号获取短信密码重新输入密码确定密码。</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-3 mt-step-col done">
                        <div class="mt-step-number bg-white">2</div>
                        <div class="mt-step-title uppercase font-grey-cascade">首页查看</div>
                        <div class="mt-step-content font-grey-cascade">打开系统首页，查看系统汇总面板，可以详细查看其中的汇总信息</div>
                    </div>
                    <div class="col-md-3 mt-step-col active">
                        <div class="mt-step-number bg-white">3</div>
                        <div class="mt-step-title uppercase font-grey-cascade">设置</div>
                        <div class="mt-step-content font-grey-cascade">打开后台体统设置人员权限，和管理组织人员账户名密码，设置字段</div>
                    </div>
                    <div class="col-md-3 mt-step-col last">
                        <div class="mt-step-number bg-white">4</div>
                        <div class="mt-step-title uppercase font-grey-cascade">数据管理</div>
                        <div class="mt-step-content font-grey-cascade">后台系统进行数据录入修改，查看数据信息，管理用户订单信息</div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<style>
    .back_welcome {
        width: 100%;
        margin: 20px;
        height: 500px;
        background: url('../Content/images/wecome.jpg') center center no-repeat;
    }
</style>