<div style="margin-top:1rem;">
    <ul class="zqui-table-view">
        <li class="zqui-table-view-cell zqui-dis-flex">
            <div class="zqui-cell-hd">
                <label class="zqui-cell-label">手机号</label>
            </div>
            <div class="zqui-cell-bd zqui-flex-1">
                <input class="zqui-input" type="text" placeholder="请输入手机号">
            </div>
            <div class="zqui-cell-ft none"><i class="icon icon-exclamation-sign"></i></div>
        </li>
        <li class="zqui-table-view-cell zqui-dis-flex">
            <div class="zqui-cell-hd">
                <label class="zqui-cell-label">密码</label>
            </div>
            <div class="zqui-cell-bd zqui-flex-1">
                <input class="zqui-input" type="password" placeholder="请输入密码">
            </div>
            <div class="zqui-cell-ft none"><i class="icon icon-exclamation-sign"></i></div>
        </li>
    </ul>
    <div class="zqui-content-padded">
        <button id="login" class="zqui-btn zqui-btn-block zqui-btn-danger">登录</button>
        <div class="link-area">
            <a id="reg" href="register.cshtml">注册账号</a> <span class="spliter">|</span> <a id="forgetPassword" href="password.cshtml">忘记密码</a>
        </div>
    </div>
</div>
<div class="zqui-content-padded">
    <p>提示说明：</p>
    <p>账户密码与《发现身边先锋》同步，可以直接使用《发现身边先锋》账户密码登录。</p>
</div>