<ul class="zqui-table-view">
    <li class="zqui-table-view-cell">
        <a class="zqui-navigate-right line-height-2">
            头像
            <span class="zqui-pull-right zqui-head-img">
                <img src="~/content/images/1.jpg">
            </span>
        </a>
    </li>
    <li class="zqui-table-view-cell zqui-dis-flex haserror">
        <div class="zqui-cell-hd">
            <label class="zqui-cell-label">姓名</label>
        </div>
        <div class="zqui-cell-bd zqui-flex-1">
            <input class="zqui-input" type="text" placeholder="请输入真实姓名">
        </div>
        <div class="zqui-cell-ft none">
            <i class="icon icon-exclamation-sign"></i>
        </div>
    </li>
    <li class="zqui-table-view-cell">
        <a class="">
            手机号码
            <span class="zqui-pull-right">
                156565615
            </span>
        </a>
    </li>
    <li class="zqui-table-view-cell zqui-dis-flex zqui-cell-select  zqui-elect-after">
        <div class="zqui-cell-hd">
            <label class="zqui-cell-label">所属县区</label>
        </div>
        <div class="zqui-cell-bd zqui-flex-1">
            <select class="zqui-select">
                <option value="1">市级</option>
                <option value="2">鸠江区</option>
                <option value="3">镜湖区</option>
                <option value="4">经开区</option>
            </select>
        </div>
        <div class="zqui-cell-ft none">
            <i class="icon icon-exclamation-sign"></i>
        </div>
    </li>
    <li class="zqui-table-view-cell zqui-dis-flex ">
        <div class="zqui-cell-hd">
            <label class="zqui-cell-label">所在单位或居住地</label>
        </div>
        <div class="zqui-cell-bd zqui-flex-1">
            <input class="zqui-input" type="text" placeholder="请输入所在单位或居住地">
        </div>
        <div class="zqui-cell-ft none"><i class="icon icon-exclamation-sign"></i></div>
    </li>
</ul>
<ul class="zqui-table-view" style="margin-bottom:.75rem;">
    <li class="zqui-table-view-cell zqui-text-center">
        <a href="~/html/center.cshtml" class="text-danger">保存</a>
    </li>
</ul>