<!--第一次发布显示-->
<div class="zqui-msg">
    <div class="zqui-icon-area zqui-primary">
        <i class="icon icon-ok-sign"></i>
    </div>
    <div class="zqui-text-area">
        <h2 class="zqui-msg-title">发布成功！</h2>
        <p class="zqui-msg-desc">您获得一次抽流量机会。</p>
    </div>
    <div class="zqui-opr-area">
        <p class="zqui-btn-area">
            <a href="~/html/shake.cshtml" class="zqui-btn zqui-btn-block">前去抽奖</a>
        </p>
    </div>
</div>
<!--没有抽奖机会显示-->
@*<div class="zqui-msg">
    <div class="zqui-icon-area zqui-primary">
        <i class="icon icon-ok-sign"></i>
    </div>
    <div class="zqui-text-area">
        <h2 class="zqui-msg-title">发布成功！</h2>
    </div>
    <div class="zqui-opr-area">
        <p class="zqui-btn-area">
            <a href="~/html/raftinglist.cshtml" class="zqui-btn zqui-btn-block">查看微感悟</a>
        </p>
    </div>
</div>*@
<div class="zqui-content-padded">
    <p class="zqui-h6">温馨提示：</p>
    <p class="zqui-h6">1、发布微感悟后，亲可获得一次抽流量的机会。<i class="fa fa-sup"></i></p>@*惊喜*@
    <p class="zqui-h6">2、发帖次数不限。亲，发帖越多，进入精华帖和点赞榜的机会就越大哦。<i class="fa fa-lft"></i></p>@*期盼*@
    <p class="zqui-h6">3、精华帖和点赞榜前列的亲，将获得由通讯运营商提供的1G以上流量包奖励。<i class="fa fa-cheer"></i></p>@*欢呼*@
</div>