<div class="zqui-msg">
    <div class="zqui-icon-area zqui-default">
        <i class="icon icon-cry-o"></i>
    </div>
    <div class="zqui-text-area">
        <h2 class="zqui-msg-title">暂无数据</h2>
        <p class="zqui-msg-desc">内容详情，可根据实际需要安排</p>
    </div>
</div>