<ul class="zqui-table-view prize">
    <li class="zqui-table-view-divider">我获得的奖品</li>
    <li class="zqui-table-view-cell zqui-media">
        <img class="zqui-media-object zqui-pull-left" src="~/content/images/liuliang.jpg">
        <div class="zqui-media-body">
            50M电信流量包
            <p class="zqui-ellipsis">流量在活动结束后15个工作日内发出</p>
        </div>
    </li>
    <li class="zqui-table-view-cell zqui-media">
        <img class="zqui-media-object zqui-pull-left" src="~/content/images/liuliang.jpg">
        <div class="zqui-media-body">
            100M电信流量包
            <p class="zqui-ellipsis">流量在活动结束后15个工作日内发出</p>
        </div>
    </li>
</ul>