<div class="tooltips">
   若手机发布不便，可登录电脑端微信。
</div>
<ul class="zqui-table-view">
    <li class="zqui-table-view-divider">感悟标题<span class="zqui-rt zqui-h7">不超过20字</span></li>
    <li class="zqui-table-view-cell">
        <div class="zqui-cell-bd zqui-flex-1">
            <input  class="zqui-input" placeholder="请输入标题" />
            
        </div>
    </li>
    <li class="zqui-table-view-divider">填写感悟<span class="zqui-rt zqui-h7">最少140字，当前&nbsp;<span class="text-danger">0</span>&nbsp;字</span></li>
    <li class="zqui-table-view-cell">
        <div class="zqui-cell-bd zqui-flex-1">
            <textarea class="zqui-textarea" placeholder="请输入内容" rows="10"></textarea>
            <div class="zqui-textarea-counter">亲，题外话会被删帖得不到流量!</div>
        </div>
    </li>
    <li class="zqui-table-view-divider">上传图片</li>
    <li class="zqui-table-view-cell zqui-dis-flex">
        <div class="zqui-uploader">
            <div class="zqui-uploader-hd  zqui-dis-flex">
                <div class="zqui-cell-bd zqui-flex-1">点击照片可设置标题图片或删除</div>
                <div class="zqui-cell-ft">
                    0/4
                </div>
            </div>
            <div class="zqui-uploader-bd">
                <ul class="zqui-uploader-files">
                    <li class="zqui-uploader-file zqui-uploader-status">
                        <img class="" src="/Content/images/pic.jpg" />
                        <div class="showModalaction zqui-uploader-status-content text-primary">
                            <i class="icon icon-ok-sign"></i>
                        </div>
                    </li>
                    <li class="zqui-uploader-file zqui-uploader-status">
                        <img class="showModalaction" src="/Content/images/pic.jpg" />
                        <div class="zqui-uploader-status-content">50%</div>
                    </li>
                    <li class="zqui-uploader-file">
                        <img class="Show" src="/Content/images/pic.jpg">
                    </li>
                </ul>
                <div class="zqui-uploader-input-wrp">
                    <input class="zqui-uploader-input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="">
                </div>
            </div>
        </div>
    </li>
</ul>
<div class="zqui-content-padded">
    <a href="~/html/msg.cshtml" class="zqui-btn zqui-btn-block zqui-btn-danger">发布感悟</a>
</div>
<div class="zqui-content-padded zqui-text-center">
    <p>
        用户发布的任何内容不得违反国家法律法规！
    </p>
</div>
@Helper.HelperDateModal()
@Helper.HelperImagesModal()
