<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>抗洪抢险微感悟 千兆流量等你拿</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="~/content/css/zqui.css" rel="stylesheet" />
    <link href="~/content/css/portry.css" rel="stylesheet" />
    <link href="~/content/css/rafting.css" rel="stylesheet" />
    
    
    <link href="~/Content/fonts/iconfont.css" rel="stylesheet"/>
    <link href="~/content/fonts/rafting.css" rel="stylesheet" />
    <script src="~/content/js/jquery.min.js"></script>
    <script src="~/content/js/rem.js"></script>
    
    <style>.zqui-modal{display:none;}</style>
    <script>
        $(function () {
            $(".zqui-modal").appendTo("body");
        })
    </script>
    @RenderSection("head", required: false)
</head>
<body class="body">
    <div id="shareImage" style="display:none;">
        <img src="~/content/images/feeling.png" />
    </div>
    @RenderPage("~/html/layouts/header.cshtml")
    @RenderPage("~/html/layouts/footer.cshtml")
    <div class="zqui-content">
        @RenderBody()
    </div>
</body>
</html>
