<nav class="zqui-bar zqui-bar-tab">
    <a class="zqui-tab-item active" href="~/html/index.cshtml">
        <i class="icon icon-shouye-o">
        </i>
        <span class="zqui-tab-label">首页</span>
    </a>
    <a href="~/html/raftinglist.cshtml" class="zqui-tab-item">
        <i class="icon icon-liebiao-o">
        </i>
        <span class="zqui-tab-label">直播</span>
    </a>
    <a href="~/html/elitepost.cshtml" class="zqui-tab-item">
        <i class="icon icon-elitepost">
        </i>
        <span class="zqui-tab-label">精华</span>
    </a>
    <a href="~/html/ranking.cshtml" class="zqui-tab-item">
        <i class="icon icon-paihangingbang-o">
        </i>
        <span class="zqui-tab-label">点赞</span>
    </a>
    <a href="~/html/center.cshtml" class="zqui-tab-item">
        <i class="icon icon-geren-o"></i>
        <span class="zqui-tab-label">我的</span>
    </a>
</nav>