
@WeForm.LoginForm("danger")
<script>
    $("#LoginForm").InitLogin("wxuser", '@WebHelper.GetRootUrl()@(ProjectType.微感悟.GetEnumDesc("Path"))/wechat/');
</script>

<div class="zqui-content-padded">
    <p>提示说明：</p>
    <p>账户密码与《发现身边先锋》同步，可以直接使用《发现身边先锋》账户密码登录。</p>
</div>