
@font-face {font-family: "icon";
  src: url('rafting.eot?t=1469698765'); /* IE9*/
  src: url('rafting.eot?t=1469698765#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('rafting.woff?t=1469698765') format('woff'), /* chrome, firefox */
  url('rafting.ttf?t=1469698765') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('rafting.svg?t=1469698765#icon') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pinglun-o:before { content: "\e6a8"; }
.icon-elitepost:before { content: "\e600"; }
.icon-liebiao-o:before { content: "\e6a2"; }
.icon-hongxin-copy:before { content: "\e601"; }
.icon-hongxin-o:before { content: "\e602"; }
.icon-shouye-o:before { content: "\e6a1"; }
.icon-geren-o:before { content: "\e6a4"; }
.icon-paihangingbang-o:before { content: "\e6a3"; }
.icon-xinzeng:before { content: "\e6a5"; }
